{% extends "layouts/logged.twig" %}

{% block title %}Users{% endblock %}

{% block content %}
    <h2>Users</h2>
    <table>
        <tbody>
            {% for user in users %}
                <tr>
                    <td style="
                        width: 50px;
                        height: 50px;
                        border: 1px solid #666;
                        border-radius: 50%;
                        overflow: hidden;
                        display: flex;
                        justify-content: center;
                        align-items: center;
                    ">
                        {% if user.hasAvatar() %}
                            <image
                                style="
                                    max-width: 100%;
                                    max-heigth: 100%;
                                "
                                src="{{ asset(user.getAvatar().getUri()) }}"
                            >
                        {% else %}
                            Empty
                        {% endif %}
                    </td>
                    <td>
                        <a href="{{ path('pages.users.single', {id: user.id}) }}">
                            {{ user.getFirstName() }} {{ user.getLastName() }}
                        </a>
                    </td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
{% endblock %}
