parameters:
    level: 9
    paths:
        - src/
    excludePaths:
        - ./src/**/Exxample*.php
        - ./tests/**/Exxample*.php
    ignoreErrors:
        - '#Cannot cast mixed to int#'
        - '#Cannot cast mixed to float#'
        - '#Cannot cast mixed to string#'
        - '#Cannot cast mixed to bool#'
        - "#Strict comparison using === between mixed and '' will always evaluate to false#"
    reportUnmatchedIgnoredErrors: false
