{% extends "layouts/base.twig" %}

{% block title %}Home{% endblock %}

{% block body %}
    <h2>Home page</h2>
    <a href="{{ path('actions.logout') }}">Logout</a>
    <br>
    <a href="{{ path('pages.account.edit') }}">Edit profile</a>
{% endblock %}
