{% extends "layouts/logged.twig" %}

{% block content %}
    <h2>Add post</h2>
    <form action="{{ path('actions.posts.create') }}" method="post" enctype="multipart/form-data">
        <div>
            Title:
            <input type="text" name="title">
        </div>
        <div>
            Images: <br>
            <input type="file" name="images[]"> <br>
            <input type="file" name="images[]"> <br>
            <input type="file" name="images[]"> <br>
            <input type="file" name="images[]"> <br>
            <input type="file" name="images[]"> <br>
        </div>

        <button style="margin-top: 7px">
            Add
        </button>
    </form>
{% endblock %}
